html {
    text-align: center;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

#calc {
    border: 10px solid rgb(46, 46, 46);
    border-radius: 4px;
    height: 526px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    transform-origin: center;
    transform: scale(var(--scale-factor, 1));
}

#display {
    height: 84px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
}

#functions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    height: 80px;
    width: 96px;
    padding: 6px;
    margin: 2px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    color: black;
}

.operands.zero {
    width: 196px;
}

.operators {
    background-color: #FF8F1F;
}

.operators:active {
    background-color: #ffc183;
}

.operators.divide:focus,
.operators.multiply:focus,
.operators.add:focus,
.operators.subtract:focus {
    background-color: #ffc183;
}

.operators.clear,
.operators.backspace,
.operators.modulus {
    background-color: dodgerblue;
}

.operators.clear:active,
.operators.backspace:active,
.operators.modulus:active {
    background-color: rgb(123, 189, 255);
}

.operands {
    background-color: #217C7E;
}

.operands:active {
    background-color: #33b9bb;
}

@media (max-width: 420px) {
    #calc {
        --scale-factor: calc(100vw / 420);
    }
}